VisualElement {
}

#DevMenuFoldout {
    align-self: flex-end;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(255, 255, 255);
}

#SucceedToggle {

}

#FailToggle {

}

#ValueLimitSlider {

}