VisualElement {
}

#DevMenuFoldout {
    align-self: flex-end;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 60px;
}

#ToggleContainer {
    flex-direction: row;
    justify-content: flex-start;
}

#SucceedToggle {
    color: rgb(0, 255, 19);
}

#FailToggle {
    color: rgb(255, 0, 0);
}

#EndingMeterValue {
}
