VisualElement {
}

#DevMenuFoldout {
    align-self: flex-end;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.45);
    color: rgb(255, 255, 255);
}

#ToggleContainer {
    flex-direction: row;
    justify-content: space-around;
}

#SucceedToggle {
    color: rgb(0, 255, 19);
}

#FailToggle {
    color: rgb(255, 0, 0);
}

#EndingMeterValue {
}
