#JoystickTouchArea {
    position: absolute;
    height: 50%;
    width: 30%;
    bottom: 0;
}

#JoystickOuterBorder {
    border-width: 3px;
    border-color: black;
    border-radius: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    bottom: 25%;
    left: 25%;
}

#JoystickKnob {
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: black;
    border-radius: 100%;
}
